
{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>User:{{ user.username }}</h1>
{#                 用户的签名#}
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
{#                 用户上一次登陆的时间#}
                {% if user.last_seen %}
{#                   引入 moment 处理时间模块#}
                    <p>Last seen on:{{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
{#                判断当前浏览对象用户是不是属于此帖子的用户#}
                {% if user == current_user %}
                    <p>
                        <a href="{{ url_for('edit_profile') }}">Edit your profile</a>
                    </p>
{#                    如果当前浏览的用户不自己，即可关注#}
                {% elif not current_user.is_following(user) %}
                    <p>
                        <a href="{{ url_for('follow', username=user.username) }}">Follow</a>
                    </p>
{#                    如果已经关注，可以取消关注#}
                {% else %}
                    <p>
                        <a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
                    </p>
                {% endif %}
            </td>
        </tr>
    </table>

{#循环输出用户的帖子#}
    {% for post in posts %}
{#        user.html模板要调用_post.html的子模板，要使用Jinja2include语句#}
        {% include '_post.html' %}
    {% endfor%}
{#    帖子分页导航#}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock%}